## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("weatherpy_database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,Bobon,12.52,124.56,76.50,91,88,4.34,overcast clouds
1,1,Chokurdakh,70.63,147.92,-14.55,90,74,3.83,broken clouds
2,2,Marinette,45.10,-87.63,51.80,57,1,11.41,clear sky
3,3,Busselton,-33.65,115.33,60.01,84,9,7.78,clear sky
4,4,Port Alfred,-33.59,26.89,66.74,82,1,24.72,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
maxtemp=float(input("Maximum temperature"))
mintemp=float(input("Minimum temperature"))

Maximum temperature71
Minimum temperature70

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

hotel_df=city_data_df.loc[(city_data_df["Max Temp"]>= mintemp)&(city_data_df["Max Temp"]<=maxtemp)]
hotel_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
169,169,Cidreira,-30.18,-50.21,70.90,81,29,7.78,scattered clouds
176,176,Sonamura,23.47,91.27,70.00,91,21,4.59,few clouds
352,352,Sonoita,31.85,-112.83,70.00,16,100,1.77,overcast clouds
449,449,Coolum Beach,-26.53,153.10,70.00,74,23,3.00,few clouds
529,529,Tignere,7.37,12.65,70.84,47,95,2.86,overcast clouds
586,586,Beloha,-25.17,45.05,70.02,80,51,7.16,broken clouds
618,618,Huarmey,-10.07,-78.15,70.21,64,18,11.74,few clouds
646,646,Puerto Madryn,-42.77,-65.04,70.36,37,0,13.96,clear sky
651,651,Manakara,-22.13,48.02,70.75,91,2,6.02,light rain

In [5]:
# 4a. Determine if there are any empty rows.
hotel_df.count()

City_ID        9
City           9
Lat            9
Lng            9
Max Temp       9
Humidity       9
Cloudiness     9
Wind Speed     9
Description    9
dtype: int64

In [6]:
# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] =""
hotel_df.head(10)

/Users/Vis/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description,Hotel Name
169,169,Cidreira,-30.18,-50.21,70.90,81,29,7.78,scattered clouds,
176,176,Sonamura,23.47,91.27,70.00,91,21,4.59,few clouds,
352,352,Sonoita,31.85,-112.83,70.00,16,100,1.77,overcast clouds,
449,449,Coolum Beach,-26.53,153.10,70.00,74,23,3.00,few clouds,
529,529,Tignere,7.37,12.65,70.84,47,95,2.86,overcast clouds,
586,586,Beloha,-25.17,45.05,70.02,80,51,7.16,broken clouds,
618,618,Huarmey,-10.07,-78.15,70.21,64,18,11.74,few clouds,
646,646,Puerto Madryn,-42.77,-65.04,70.36,37,0,13.96,clear sky,
651,651,Manakara,-22.13,48.02,70.75,91,2,6.02,light rain,

In [13]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

    # 6c. Get latitude and longitude from DataFrame
for index, row in hotel_df.iterrows():
    lat=row["Lat"]
    lng=row["Lng"]
        
    params["location"]=f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url="https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    response=requests.get(base_url,params=params).json()
    try:
        name=response["results"][0]["name"]
        hotel_df.loc[index,["Hotel Name"]]=name
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    except IndexError:
        print("No hotels found. Skipping...")

No hotels found. Skipping...

In [25]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.dropna()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description,Hotel Name
169,169,Cidreira,-30.18,-50.21,70.90,81,29,7.78,scattered clouds,Hotel Castelo
176,176,Sonamura,23.47,91.27,70.00,91,21,4.59,few clouds,Letro Home Stay
352,352,Sonoita,31.85,-112.83,70.00,16,100,1.77,overcast clouds,Motel San Antonio
449,449,Coolum Beach,-26.53,153.10,70.00,74,23,3.00,few clouds,Palmer Coolum Resort
529,529,Tignere,7.37,12.65,70.84,47,95,2.86,overcast clouds,SADECK
586,586,Beloha,-25.17,45.05,70.02,80,51,7.16,broken clouds,
618,618,Huarmey,-10.07,-78.15,70.21,64,18,11.74,few clouds,Hotel Miramar
646,646,Puerto Madryn,-42.77,-65.04,70.36,37,0,13.96,clear sky,Hotel Tolosa
651,651,Manakara,-22.13,48.02,70.75,91,2,6.02,light rain,La Residence Manakara

In [22]:
hotel_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description,Hotel Name
169,169,Cidreira,-30.18,-50.21,70.90,81,29,7.78,scattered clouds,Hotel Castelo
176,176,Sonamura,23.47,91.27,70.00,91,21,4.59,few clouds,Letro Home Stay
352,352,Sonoita,31.85,-112.83,70.00,16,100,1.77,overcast clouds,Motel San Antonio
449,449,Coolum Beach,-26.53,153.10,70.00,74,23,3.00,few clouds,Palmer Coolum Resort
529,529,Tignere,7.37,12.65,70.84,47,95,2.86,overcast clouds,SADECK
586,586,Beloha,-25.17,45.05,70.02,80,51,7.16,broken clouds,
618,618,Huarmey,-10.07,-78.15,70.21,64,18,11.74,few clouds,Hotel Miramar
646,646,Puerto Madryn,-42.77,-65.04,70.36,37,0,13.96,clear sky,Hotel Tolosa
651,651,Manakara,-22.13,48.02,70.75,91,2,6.02,light rain,La Residence Manakara

In [27]:
# 8a. Create the output File (CSV)
output_data_file= "weatherpython_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [30]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Current Weather</dt><dd>{Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [31]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)
fig
# 11b. Display the figure

Figure(layout=FigureLayout(height='420px'))