## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("weatherpython_vacation.csv")
vacation_df.head()

,City_ID,City_ID.1,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description,Hotel Name
0,169,169,Cidreira,-30.18,-50.21,70.90,81,29,7.78,scattered clouds,Hotel Castelo
1,176,176,Sonamura,23.47,91.27,70.00,91,21,4.59,few clouds,Letro Home Stay
2,352,352,Sonoita,31.85,-112.83,70.00,16,100,1.77,overcast clouds,Motel San Antonio
3,449,449,Coolum Beach,-26.53,153.10,70.00,74,23,3.00,few clouds,Palmer Coolum Resort
4,529,529,Tignere,7.37,12.65,70.84,47,95,2.86,overcast clouds,SADECK

,City_ID,City_ID.1,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description,Hotel Name
0,169,169,Cidreira,-30.18,-50.21,70.90,81,29,7.78,scattered clouds,Hotel Castelo
1,176,176,Sonamura,23.47,91.27,70.00,91,21,4.59,few clouds,Letro Home Stay
2,352,352,Sonoita,31.85,-112.83,70.00,16,100,1.77,overcast clouds,Motel San Antonio
3,449,449,Coolum Beach,-26.53,153.10,70.00,74,23,3.00,few clouds,Palmer Coolum Resort
4,529,529,Tignere,7.37,12.65,70.84,47,95,2.86,overcast clouds,SADECK

In [ ]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Current Weather</dt><dd>{Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [ ]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)
fig
# 4b. Display the figure

Figure(layout=FigureLayout(height='420px'))

Figure(layout=FigureLayout(height='420px'))

In [ ]:
vacation_df.loc[vacation_df["City"]=="Huarmey"]

,City_ID,City_ID.1,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description,Hotel Name
6,618,618,Huarmey,-10.07,-78.15,70.21,64,18,11.74,few clouds,Hotel Miramar

,City_ID,City_ID.1,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description,Hotel Name
6,618,618,Huarmey,-10.07,-78.15,70.21,64,18,11.74,few clouds,Hotel Miramar

In [ ]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]=="Huarmey"]
vacation_end = vacation_df.loc[vacation_df["City"]=="Huarmey"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Cidreira"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Puerto Madryn"]
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="Sonoita"]

In [ ]:
vacation_start["Lat"].to_numpy()[0],vacation_start["Lng"].to_numpy()[0]

(-10.07, -78.15)

(-10.07, -78.15)

In [ ]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0],vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0],vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0],vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0],vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0],vacation_stop3["Lng"].to_numpy()[0]

In [ ]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
Route1= gmaps.directions_layer(
        start, end, waypoints=[stop1,stop2],
        travel_mode='DRIVING')
fig.add_layer(Route1)
fig
#Had to remove Stop 3 since no route existed in Google

Figure(layout=FigureLayout(height='420px'))

Figure(layout=FigureLayout(height='420px'))

In [ ]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1,vacation_stop2],ignore_index=True)
itinerary_df

,City_ID,City_ID.1,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description,Hotel Name
0,618,618,Huarmey,-10.07,-78.15,70.21,64,18,11.74,few clouds,Hotel Miramar
1,169,169,Cidreira,-30.18,-50.21,70.90,81,29,7.78,scattered clouds,Hotel Castelo
2,646,646,Puerto Madryn,-42.77,-65.04,70.36,37,0,13.96,clear sky,Hotel Tolosa

,City_ID,City_ID.1,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description,Hotel Name
0,618,618,Huarmey,-10.07,-78.15,70.21,64,18,11.74,few clouds,Hotel Miramar
1,169,169,Cidreira,-30.18,-50.21,70.90,81,29,7.78,scattered clouds,Hotel Castelo
2,646,646,Puerto Madryn,-42.77,-65.04,70.36,37,0,13.96,clear sky,Hotel Tolosa

In [ ]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Current Weather</dt><dd>{Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [ ]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
fig
# 11b. Display the figure

Figure(layout=FigureLayout(height='420px'))

Figure(layout=FigureLayout(height='420px'))